@font-face {
  font-family: "MessinaSansMonoWeb-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MessinaSansMonoWeb-Regular.woff2") format("woff2"), url("../fonts/MessinaSansMonoWeb-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "FKScreamerLegacy-Upright";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/FKScreamerLegacy-Upright.woff2") format("woff2"), url("../fonts/FKScreamerLegacy-Upright.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-Black";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-display: swap;
}
*, :before, :after {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

body, html {
  font-size: 18px;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background: #164D26;
  font-family: "MessinaSansMonoWeb-Regular", sans-serif;
  line-height: 1.35;
  color: #fff;
  /* cursor: url('./assets/img/twitter_logo.svg'), auto; */

}

a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

strong, b {
  font-weight: bold;
}

p, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  text-transform: uppercase;
  font: 400 90px/1 "FKScreamerLegacy-Upright", sans-serif;
}

h3 {
  text-transform: uppercase;
  font: 400 54px/1 "FKScreamerLegacy-Upright", sans-serif;
}

h4 {
  text-transform: uppercase;
  font: 400 36px/1 "FKScreamerLegacy-Upright", sans-serif;
}

h5 {
  text-transform: uppercase;
  font: 400 24px/1 "FKScreamerLegacy-Upright", sans-serif;
}

h6 {
  text-transform: uppercase;
  font: 400 20px/1 "FKScreamerLegacy-Upright", sans-serif;
}

img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 100%;
}

#page {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding: 0 3.2vw;
}

.img-box {
  position: relative;
}
.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.img-box._left img {
  right: auto;
}
.img-box._right img {
  left: auto;
}

._tt-upper {
  text-transform: uppercase;
}

._tt-none {
  text-transform: none;
}

._c-main {
  color: #0028F9;
}

[data-animate] {
  opacity: 0;
}
[data-animate]._show {
  opacity: 1;
}

.main-bg {
  position: relative;
  padding: 1px 0;
}
.main-bg__ellips {
  position: absolute;
  z-index: -8;
  top: -750px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0.2;
}
.main-bg__ellips img {
  max-width: none;
  -webkit-animation: rotation 70s linear infinite;
          animation: rotation 70s linear infinite;
}
.main-bg__flags {
  position: absolute;
  z-index: -7;
  left: 50%;
  bottom: -25px;
  width: 111vw;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.main-bg__flags img {
  width: 100%;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 22px 30px;
  min-width: 250px;
  background: #0028F9;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font: 400 26px/1.2 "Inter-Black", sans-serif;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn img {
  display: inline-block;
  vertical-align: middle;
  margin: -0.1em 0.3em 0 0;
  max-height: 0.9em;
}
.btn:hover {
  background-color: #1439ff;
}
.btn._tg {
  background-color: #00AEF9;
}
.btn._tg:hover {
  background-color: #14b8ff;
}
.btn._x {
  background-color: #379225;
}
.btn._x:hover {
  background-color: #287219;
}
.btn._head {
  padding: 13px 17px;
  min-width: 146px;
  font-size: 16px;
}
.btn.disabled, .btn:disabled {
  pointer-events: none;
}

.copy-box {
  position: relative;

  width: 485px;
  max-width: 100%;
  height: 42px;
  margin: 0 auto;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  font: 400 15px/1"FKScreamerLegacy-Upright", sans-serif;
  letter-spacing: 0.08em;

  margin-bottom:2rem;
}
.copy-box__text {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 90px;
  margin-top: -0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #B9B9B9;
  font-size:1.2rem;
}
.copy-box__btn {
  position: absolute;
  z-index: 5;
  top: 2px;
  right: 4px;
  width: 100px;
  height: 90%;
  padding: 0;
  border: none;
  border-radius: 100px;
  background: #A988EA;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.copy-box__btn:hover {
  background-color: #bfa6ef;
}

.header {
  position: relative;
  z-index: 20;
  padding: 12px 0;
}
.header__grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
}
.header__logo {
  display: inline-block;
  max-width: 120px;
}
.header__logo img {
  display: block;
  max-height: 80px;
}
.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font: 400 19px/1.2 "Inter-Black", sans-serif;
}
.header__menu a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__menu a:hover {
  border-bottom-color: currentColor;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}
.header__sandwich {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 7px;
  background: #18181B;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__sandwich i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
  width: 20px;
  height: 2px;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__sandwich i:nth-of-type(1) {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.header__sandwich i:nth-of-type(2) {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
.header__sandwich:hover {
  background-color: #222;
}
.header__sandwich.active:after {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.header__sandwich.active i:nth-of-type(1) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__sandwich.active i:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bann {
  position: relative;
  margin-bottom: 120px;
  text-align: center;
}
.bann:before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  width: 1600px;
  height: 1600px;
  -webkit-transform: translate(-50%, -48%);
      -ms-transform: translate(-50%, -48%);
          transform: translate(-50%, -48%);
  background: radial-gradient(50% 50% at 50% 50%, #47943C 0%, #164D26 100%);
}
.bann__balls {
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 50%;
  -webkit-transform: translateX(-51%);
      -ms-transform: translateX(-51%);
          transform: translateX(-51%);
}
.bann__balls img {
  max-width: none;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.bann__part-logo {
  margin-bottom: 5px;
}
.bann__part-logo img {
  max-height: 30px;
}
.bann .copy-box {
  margin-bottom: 10px;
}
.bann__subhead {
  text-transform: uppercase;
  letter-spacing: -0.015em;
  font-size: 23px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.bann__head {
  position: relative;
  font: 400 400px/0.88 "FKScreamerLegacy-Upright", sans-serif;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.bann__head:before {
  content: "";
  position: absolute;
  top: 0.05em;
  left: 50%;
  margin-left: -1.35em;
  width: 2.7em;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
}
.bann__img {
  position: relative;
  z-index: 5;
  margin: -130px 0 0;
  text-align: center;
}
.bann__img ._main {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin:0 auto;
}
.bann__img ._cloud-first {
  position: absolute;
  top: 22%;
  left: 50%;
  max-width: 192px;
  margin-left: -740px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.bann__img ._cloud-second {
  position: absolute;
  top: 17%;
  right: 50%;
  margin-right: -835px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.bann__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: -120px 0 0;
  padding: 8px 0 0;
  text-align: left;
  font-size: 9px;
}
.bann__bottom > * {
  display: block;
  position: relative;
  z-index: 10;
}
.bann__bottom-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  text-transform: uppercase;
}
.bann__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 42px;
}
.bann__bottom-links a {
  display: inline-block;
}

.about {
  position: relative;
  margin-top: 150px;
  text-align: center;
}
.about__balls {
  position: absolute;
  z-index: -2;
  top: -175px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.about__balls img {
  max-width: none;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.about__content {
  max-width: 810px;
  margin: 0 auto;
  text-transform: uppercase;
}
.about__content > * {
  margin-bottom: 20px;
}
.about__content > *:last-child {
  margin-bottom: 0;
}
.about__content p {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.about__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-top: 25px;
}
.about__action [data-animate] {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.about__img {
  overflow: hidden;
  position: relative;
  margin-top: 35px;
  padding: 0 5px;
}
.about__img img {
  margin: 0 auto;
  max-width: 100%;
}
.about__img:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.tokenomics {
  padding: 90px 0 0;
  background: #DECC8A;
  text-align: center;
  color: #fff;
  position:relative;
}
.tokenomics__title {
  margin-bottom: 50px;
}
.tokenomics__title-top {
  margin-bottom: 5px;
  opacity: 0.8;
}
.tokenomics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
  position:relative;
  z-index:1;
}

.tokenomics__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  width: 186px;
  border: 3px solid #C8ADFB;
  border-radius: 5px;

  text-transform: uppercase;
  font-size: 18px;
}

.tokenomics__item.item1{
  background: #681BFF url("../img/token-item.svg") no-repeat center;
}

.tokenomics__item.item2{
  background: #a74bfd url("../img/token-item.svg") no-repeat center;
}

.tokenomics__item.item3{
  background: #4badfd url("../img/token-item.svg") no-repeat center;
}

.tokenomics__item.item4{
  background: #FF9A3D url("../img/token-item.svg") no-repeat center;
}

.tokenomics__item:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.tokenomics__item-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tokenomics__item-count {
  font: 400 52px/1 "FKScreamerLegacy-Upright", sans-serif;
}
.tokenomics__item-descr {
  margin-top: 15px;
}
.tokenomics__item._imp {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: auto;
  max-width: 100%;
  padding: 20px 25px;
}
.tokenomics__bottom {
  margin-bottom: 45px;
  opacity: 0.8;
}
.tokenomics__bottom > * {
  margin-bottom: 10px;
}
.tokenomics__bottom h5 {
  letter-spacing: 0.02em;
}
.tokenomics__bottom [data-animate] {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.tokenomics__img {
  position: relative;
  padding: 0 5px;
}
.tokenomics__img img {
  margin: 0 auto;
  max-width: 100%;
}





.marquee-lines {
  position: relative;
  margin: 190px 0 60px;
  height: 2em;
  font: 400 13vw/1 "FKScreamerLegacy-Upright", sans-serif;
}
.marquee-lines__wrap {
  position: absolute;
  white-space: nowrap;
}
.marquee-lines__wrap._left {
  top: 0;
  left: 0;
}
.marquee-lines__wrap._right {
  right: 0;
  bottom: 0;
}

@supports (-webkit-text-fill-color: transparent) {
  .marquee-lines__wrap span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: 2px;
  }
  @media (max-width: 767px) {
    .marquee-lines__wrap span {
      -webkit-text-stroke-width: 1px;
    }
  }
}




.advants {
  margin: 60px 0;
}
.advants__head {
  margin-bottom: 60px;
  text-align: center;
}
.advants__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -20px -25px;
}
.advants__col {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 33.33%;
  padding: 0 20px 25px;
}
.advants__col .advant-item {
  height: 100%;
}

.advant-item {
  position: relative;
  z-index: 3;
  padding: 25px 35px 40px;
  border-radius: 15px;
  background: #C8ADFB;
  color: #fff;
}
.advant-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: inherit;
  background: #681BFF;
}
.advant-item__img {
  margin-bottom: 20px;
  height: 225px;
}
.advant-item__content {
  max-width: 220px;
  letter-spacing: 0.01em;
}

.community {
  position: relative;
  margin: 140px 0 60px;
}
.community__cloud-first {
  position: absolute;
  top: 145px;
  left: 50%;
  max-width: 192px;
  margin-left: -795px;
}
.community__cloud-second {
  position: absolute;
  top: 105px;
  right: 50%;
  margin-right: -805px;
}
.community__title {
  margin-bottom: 10px;
  text-align: center;
}
.community__head {
  font-size: 244px;
}

.community-box {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 100px;
  height: 6.35em;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.community-box__links {
  position: absolute;
  top: 0.6em;
  left: 0;
  right: 0;
  bottom: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 0.4em;
}
.community-box__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-top: 1.6em;
  display: block;
  background: rgba(0, 40, 249, 0.4);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: 400 0.9em/1 "FKScreamerLegacy-Upright", sans-serif;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.community-box__link:first-child {
  padding-right: 0.5em;
  border-radius: 50% 0 0 50%;
}
.community-box__link:last-child {
  padding-left: 0.5em;
  border-radius: 0 50% 50% 0;
}
.community-box__link:hover {
  background-color: rgba(0, 40, 249, 0.6);
}
.community-box__link._x {
  background-color: rgba(184, 0, 249, 0.4);
}
.community-box__link._x:hover {
  background-color: rgba(184, 0, 249, 0.6);
}
.community-box__link.disabled, .community-box__link:disabled {
  pointer-events: none;
}
.community-box__link .img-box {
  display: block;
  width: 2em;
  height: 1.25em;
  margin: 0 auto 0.7em;
}
.community-box__img {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
}

.partners {
  margin: 60px 0;
  text-align: center;
}
.partners__head {
  margin-bottom: 30px;
}
.partners__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.partners__item {
  display: inline-block;
  width: 285px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(138, 80, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.partners__item:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 58.4%;
}
.partners__item img {
  max-width: 85%;
  max-height: 65%;
}

.utility {
  margin: 60px 0;
}
.utility .container {
  max-width: 1190px;
}
.utility__head {
  margin-bottom: 50px;
  text-align: center;
}

.util-item {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  background: #C8ADFB;
  margin-bottom: 20px;
}
.util-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: inherit;
  background: #681BFF;
}
.util-item__wrap {
  padding: 35px 25px;
  max-width: 610px;
}
.util-item__head {
  margin-bottom: 20px;
}
.util-item__descr {
  text-transform: uppercase;
}
.util-item__img {
  overflow: hidden;
  position: relative;
  width: 480px;
  min-height: 350px;
  border-radius: 15px 0 0 15px;
}
.util-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}
.util-item:last-child {
  margin-bottom: 0;
}
.util-item:nth-child(odd) .util-item__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 0 15px 15px 0;
}

.footer {
  margin-top: 85px;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 9px;
}
.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}
.footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}
.footer__col._right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__bars {
  display: inline-block;
  vertical-align: middle;
}
.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer_text{
  font-size:.7rem;
}
.footer__menu a {
  text-decoration: none;
}
.footer__menu a:hover {
  text-decoration: underline;
}

.team {
  margin: 60px 0;
  text-align: center;
}
.team__head {
  margin-bottom: 30px;
}
.team__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 64px;
}

.team-item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 275px;
  text-align: left;
}
.team-item__img {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 5px;
}
.team-item__img img, .team-item__img:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team-item__img:after {
  content: "";
  z-index: 1;
  border: 1px solid #fff;
}
.team-item__img:hover .team-item__btn {
  background-color: #c3d9ff;
}
.team-item__btn {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff url("../img/link.svg") no-repeat center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.team-item__place {
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 0.9em;
}

a.team-item__img {
  text-decoration: none;
}

.how-buy {
  position: relative;
  margin: 75px 0;
}
.how-buy__head {
  text-align: center;
}
.how-buy__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 215px 0 0;
  max-width: 1510px;
  min-height: 800px;
}
.how-buy__img {
  position: absolute;
  top: 0;
  left: 6%;
  right: 0;
  margin: 0 auto;
}
.how-buy__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 5;
}
.how-buy__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.how-buy__item-number {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font: 400 144px/1 "FKScreamerLegacy-Upright", sans-serif;
}
.how-buy__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
          flex-direction: column;
  padding: 20px 50px;
  max-width: 455px;
  min-height: 155px;
  text-align:center;
  border-radius: 6px;
  background: #fff;
  text-transform: uppercase;
  text-align: center;
  color: #202020;
}
.how-buy__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.how-buy__item:nth-child(2) {
  padding: 35px 30px 0 0;
}
.how-buy__item:nth-child(3) {
  padding: 215px 0 0;
}
.how-buy__item:nth-child(4) {
  padding: 225px 0 0;
}


/* animation */
.ballon_animation{
  animation: ballon 9s linear infinite;
  -webkit-animation: ballon 9s linear infinite;
}

@keyframes ballon {
  0%,100%{
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
  }
  50%{
      transform: translateY(10%);
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -ms-transform: translateY(10%);
      -o-transform: translateY(10%);
}
}

.zoom_animation{
    animation: zoom_animation 10s linear infinite;
    -webkit-animation: zoom_animation 10s linear infinite;
}

@keyframes zoom_animation { 
    0%,100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50%{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
}
}


.float_animation{
  animation: float 9s linear infinite;
  -webkit-animation: float 9s linear infinite;
}

@keyframes float {
  0%,100%{
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
  }
  50%{
      transform: translateY(15%);
      -webkit-transform: translateY(15%);
      -moz-transform: translateY(15%);
      -ms-transform: translateY(15%);
      -o-transform: translateY(15%);
}
}




/* new section */
/* header */
.social_container:hover a{
  transform: rotate(380deg);
 }


 /* animation */
 
/* right left */
.rock{
  animation: rock 30s linear infinite;
}
@keyframes rock {
  0%,100%  {
    transform: translateX(0px);
  }
  30% { 
    transform: translateX(-5%);
  }  
  60% { 
    transform: translateX(5%);
  }  
  }
